.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.project-title{
    position: relative;
}
.project-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.project-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.project-container img{
    width: 419px;
    height: 280px;
    box-sizing: border-box;
    transition: 0.3s;
    cursor: pointer;
}
.project-container img:hover{
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}
.project-more{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}
.project-more:hover{
    gap: 30px;
    transition: 0.6s;
}

@media (max-width: 768px) {
    .project{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .project-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .project-title img{
        width: 130px;
        margin-right: -20px;
    }
    .project-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px
    }
    .project-container img{
        width: 100%;
        height: 90%;
    }
    .project-more{
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    .project{
        margin: 20px 50px;
    }
    .project-title h1{
        font-size: 40px;
        padding: 0;
    }
    .project-title img{
        width: 130px;
        margin-right: -20px;
    }
    .project-container{
        grid-template-columns: 1fr 1fr;
        gap: 40px
    }
    .project-container img{
        width: 300px;
        height: 300px;
    }
    .project-more{
        padding: 20px 40px;
        font-size: 25px;
        margin: 50px auto;
        cursor: pointer;
    }
}